// = page_entries_info @tours
.row.wdrap
  .col.s4.flex_sidebar
    =render "layouts/sidebar", tags: @tags 
  .container.col.s8#index_lists
    = paginate @tours
    - if @tours.blank?
      %p ツアーが存在しません
    -else
      - @tours.each do |tour|
        = render "tours/index_item", tour: tour 
    = render "layouts/newbtn"
    = paginate @tours 
