// = page_entries_info @tours
.row.wdrap
  .col.s4.flex_sidebar
    =render "layouts/sidebar"
  .container.col.s8#index_lists
    = paginate @tours
    =render "tours/index_item"
    =render "layouts/newbtn"
    = paginate @tours 
