// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//show
h6{
  margin: 0 !important;
  margin-bottom: 10px !important; 
}
.user-profille{
  padding: 20px !important;
  .user-img{
    display: inline-block;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-right: 30px;
    img{
      width: 80px;
      border-radius: 50%;
      object-fit: cover;
    }
  }
  .profile-inner{
    display: flex;
justify-content: start;
  }
  .user-name{
    width: 220px;
    display: inline-block;
    font-size: 22px;
    overflow-wrap:  break-word;
  }
}
.page_title-userRegist{
  padding-bottom: 30px;
}
.registForm_inner{
  padding: 55px;
  padding-top: 20px;
}
.modal-content{
  h4,p{
    color: #333;
    text-align: center;
    padding-bottom: 30px;
  }
}
.menu-content{
  a{
    display: block !important;
    color: #fff !important;
    width: 60% !important;
    height: 40px !important;
    line-height: 40px !important;
    margin: 20px auto !important;
    margin-bottom: 40px !important;
  }
}
.small_modal{
  width: 550px !important;
  // .modal-content{
  //   padding-bottom: 0 !important;
  // }
  .modal-footer{
    margin-top: -35px !important;
    margin-left: -20px !important;
  }
}
